
<!-- Footer includes h3 and link to subscribe -->
<footer class="grid-middle padded-2">

  <div class="col-6">,
    <img class="footer-image" src="/images/aboutme-footer-image.jpg">
    <p>After working in the travel industry for over a decade I decided it's time to ditch the office and travel full-time!</p>
    <p> To hear more about me click <a href="/about">HERE </p>
  </div>

  <div class="col-6">
    <h3> Hear about my travel adventures first! </h3>
    <form method="POST" action="https://formspree.io/christinamacdonald5@gmail.com">
    <input type="text" name="text" placeholder="Name">
    <input type="email" name="email" placeholder="Your email">
    <button type="submit">Sign up for my newsletter</button>
    </form>
  </div>
</footer>
