
<!--side is to go on all pages except home page -->
<!-- sidebar section -->


  <div>
    <h3> Subscribe here </h3>
    <form method="POST" action="https://formspree.io/christinamacdonald5@gmail.com">
      <input type="text" name="text" placeholder="Name">
      <input type="email" name="email" placeholder="Your email">
      <textarea name="message" placeholder="Your message"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>

  <div>
    <h3> Instagram </h3>
    <!-- need to add insta link with one image -->
  </div>

  <div>
    <h3> Past blogs </h3>
    <a href="christinalyndal.com/blog">Past Blogs</a>
    <!-- need to add bg img -->
  </div>
