
<!--side is to go on all pages except home page -->
<!-- sidebar section -->


  <div class=" sidebar padded-2">
    <!-- have removed subscribe from sidebar<h3> Subscribe here </h3>
    <form method="POST" action="https://formspree.io/christinamacdonald5@gmail.com">
      <input type="text" name="text" placeholder="Name">
      <input type="email" name="email" placeholder="Your email">
      <textarea name="message" placeholder="Your message"></textarea>
      <button type="submit">Send</button>
    </form>
  </div> -->
  <!-- <div class="padded-2"> -->
    <h3>
      <a href="https://www.instagram.com/chrislm5/" target="_blank"><i class="fab fa-instagram"></i> Follow me on Instagram</a>
    </h3>

    <hr>

    <!-- LightWidget WIDGET -->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/e31cc138227c5c23a97e23ee58c3b71e.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

  </div>

  <div class="past-blog-sidebar-image padded-2">
    <h3><a href="/travel">Past Adventures</a></h3>
    <hr>
    <ul>
      {% for post in site.posts %}
        <li><a href="{{post.url}}"> {{post.title}} </a></li>
      {% endfor %}
    </ul>
  </div>
