---
layout: default
---

<!--have nested grids in this section -->
<section class="grid bg-image">

  <div class="col-12 grid-middle-center banner travel-banner">
      <h1> {{ page.title }} </h1>
      <a id="up" href="#down"><span></span></a>
  </div>

  <div id="down" class="col-12 padded-3"></div>

  <article class="grid col-9_sm-12_xs-12 blog-menu">
      <!--<div class="col-8 blog-menu"> -->
      <!-- <div class="grid-middle-center bg-image blog-menu-image"> -->
    {% for post in site.posts limit:6 %}
      <div class="grid col-4_sm-12_xs-12 image-one" style="background-image: url({{post.image_path}})"></div>

      <div class="col-8_sm-12_xs-12">
        <h2 class="padded-bottom"> <a href="{{post.url}}"> {{post.title}} </a></h2>
        <p> Cuba is amazing and more cool stuff
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    {% endfor %}

  </article>

  <!-- sidebar section -->
  <aside class="col-3_sm-12_xs-12 sidebar">
    {% include site-sidebar.html %}
  </aside>

</section>
