<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>christinalyndal</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/gridlex.min.css">

    <link href="https://fonts.googleapis.com/css?family=Handlee|Merriweather+Sans:300|Satisfy|Shadows+Into+Light" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Oswald|Shadows+Into+Light" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body class="menu-hidden">

<!--this is the global site header to go on all pages -->
    {% include site-header.html %}

<!-- don't forget to link content this is page content-->
    {{ content }}

<!-- this is the global site footer to go on all pages -->
    {% include site-footer.html %}

<!-- JAVASCRIPT -->
    <script type="text/javascript" src="/js/jquery.min.js"> </script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"> </script>

    <script id="dsq-count-scr" src="//christinalyndal.disqus.com/count.js" async></script>
    
    <script type="text/javascript" src="/js/main.js"> </script>
  </body>
</html>
