<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>christinalyndal</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/gridlex.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Handlee|Merriweather+Sans:300|Satisfy|Shadows+Into+Light" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Oswald|Shadows+Into+Light" rel="stylesheet"> -->

  </head>

  <body>

<!--this is the global site header to go on all pages -->
    {% include site-header.html %}

<!-- don't forget to link content this is page content-->
    {{ content }}

<!-- this is the global site footer to go on all pages -->
    {% include site-footer.html %}

  </body>
</html>
